body {
  background-image: url("./image.png");
  /* background-color: blue; */
  margin: 0px;
  width: 100%;
}
#header {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: x-large;
  padding: 10px;
}
#header .logo {
  font-size: 25px;
  /* margin: 0 0; */
  margin: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
}

#header .logo a {
  font-size: 25px;
  /* margin: 0 0; */
  margin: 10px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-style: italic;
  color: white;
  text-decoration: none;
}

#header .website-menu {
  float: right;
}

#header .website-menu a {
  color: white;
  margin: 10px;
  font-size: 20px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  list-style: none;
  text-decoration: none;
}

#header .website-menu a:hover {
  color: chartreuse;
}
#container {
  margin: auto;
  padding: 0 20px;
  margin-top: 10px;
  min-height: 100%;
  position: relative;
}
.btn-update {
  background-color: rgb(218, 241, 6);
  color: black;
  border: 2px solid #4caf50; /* Green */
}

.btn:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.fa-facebook-square {
  color: darkblue;
}

.fa-twitter-square {
  color: rgb(57, 57, 245);
}

.fa-instagram {
  color: red;
}

.fa-whatsapp {
  color: green;
}

#footer {
  background-color: black;
  font-size: 15px;
  color: white;
  text-align: center;
  float: bottom;
  width: 100%;
  height: 50px;
  line-height: 50px;
  position: fixed;
  bottom: 0px;
}

#footer p a {
  text-decoration: none;
  font-size: 15px;
  font-family: monospace;
  color: white;
  /* padding: 15px; */
}
#footer a:hover {
  color: green;
}

* {
  box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.pagination {
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  margin-top: 10px;
}

.pagination span {
  padding: 5px 10px;
  /* border: 1px solid grey; */
  margin-right: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.pagination span:last-child {
  margin-right: 0;
}

.pagination span.active {
  color: blue;
}
